{% extends 'layout.html' %}
{% block mycontent %}
<h3>Contact Us</h3>
<form method="POST" action="/send">
 <div class="row">
     
     <div class="col-sm-6">
         <input type="text" name="name" placeholder="name" class="form-control" required>
     </div>
 </div><br>
 <div class="row">
       
        <div class="col-sm-6">
            <input type="number" name="mobile" placeholder="mobile" class="form-control" required>
        </div>
    </div><br>
    <div class="row">
            
            <div class="col-sm-6">
                <input type="email" name="email" placeholder="email" class="form-control" required>
            </div>
        </div><br>
        <div class="row">
                
                <div class="col-sm-6">
                    <input type="text" name="subject" placeholder="subject" class="form-control" required>
                </div>
            </div><br>
            <div class="row">
                    
                    <div class="col-sm-6">
                        <textarea class="form-control"  name="messsage" placeholder="message" required></textarea>
                    </div>
                </div><br>
                <div class="row">
                        
                        <div class="col-sm-6">
                            <button  type="submit" value="submit" class="btn-warning">submit</button>
                        </div>
                    </div>
                </form>
{% endblock %}
